<form #f="ngForm">
  <fieldset>
    <legend>Timepickers with on click dialog</legend>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>24 TIMEPICKER</mat-label>
        <input matTimepicker #t1="matTimepicker" #time1="ngModel" color="accent" [minDate]="minValue"
          [maxDate]="maxValue" id="timepicker-example-1" mode="24h" ngModel placeholder="Please select time..."
          name="time-1" required>
        <mat-icon matSuffix (click)="t1.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time1.touched && time1.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>12 TIMEPICKER</mat-label>
        <input matTimepicker #t2="matTimepicker" #time2="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-2" mode="12h" ngModel placeholder="Please select time..." name="time-2">
        <mat-icon matSuffix (click)="t2.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time2.touched && time2.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset>
    <legend>Timepickers with icon on click dialog</legend>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>24 TIMEPICKER</mat-label>
        <input matTimepicker #t3="matTimepicker" #time3="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-3" mode="24h" ngModel placeholder="Please select time..." name="time-3"
          [disableDialogOpenOnClick]="true" required>
        <mat-icon matSuffix (click)="t3.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time3.touched && time3.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>12 TIMEPICKER</mat-label>
        <input matTimepicker #t4="matTimepicker" #time4="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-4" mode="12h" ngModel placeholder="Please select time..." name="time-4"
          [disableDialogOpenOnClick]="true">
        <mat-icon matSuffix (click)="t4.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time4.touched && time4.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset>
    <legend>Timepickers with icon on click dialog and ShowOnDirtyErrorStateMatcher</legend>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>24 TIMEPICKER</mat-label>
        <input matTimepicker #t5="matTimepicker" #time5="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-5" mode="24h" ngModel placeholder="Please select time..." name="time-5"
          [errorStateMatcher]="showOnDirtyErrorStateMatcher" required>
        <mat-icon matSuffix (click)="t5.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time5.touched && time5.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>12 TIMEPICKER</mat-label>
        <input matTimepicker #t6="matTimepicker" #time6="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-6" mode="12h" ngModel placeholder="Please select time..." name="time-6"
          [errorStateMatcher]="showOnDirtyErrorStateMatcher" [disableDialogOpenOnClick]="true">
        <mat-icon matSuffix (click)="t6.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time6.touched && time6.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset>
    <legend>Timepickers with default value, icon on click dialog and custom error matcher (look into the source code of
      the example
      app)
    </legend>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>24 TIMEPICKER</mat-label>
        <input matTimepicker #t7="matTimepicker" #time7="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          [strict]="false" id="timepicker-example-7" mode="24h" [ngModel]="defaultValue"
          placeholder="Please select time..." name="time-7" [errorStateMatcher]="customErrorStateMatcher" required
          (timeChange)="timeChangeHandler($event)" (invalidInput)="invalidInputHandler()">
        <mat-icon matSuffix (click)="t7.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time7.touched && time7.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>12 TIMEPICKER</mat-label>
        <input matTimepicker #t8="matTimepicker" #time8="ngModel" [minDate]="minValue" [maxDate]="maxValue"
          id="timepicker-example-8" mode="12h" [ngModel]="defaultValue" placeholder="Please select time..."
          name="time-8" [errorStateMatcher]="customErrorStateMatcher" [disableDialogOpenOnClick]="true"
          (timeChange)="timeChangeHandler($event)" (invalidInput)="invalidInputHandler()">
        <mat-icon matSuffix (click)="t8.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time8.touched && time8.invalid">Invalid Date</mat-error>
      </mat-form-field>
      <p>(strict mode by default is set to true so we are checking if the datetime is between the min and max since
        the
        dates are different we will always be in an error state)</p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Timepickers with custom ok and cancel buttons</legend>
    <ng-template #myOkButton let-okClickHandler let-label="label">
      <button (click)="okClickHandler()">OKK! {{label}}</button>
    </ng-template>
    <ng-template #myCancelButton let-cancelClickHandler let-label="label">
      <button (click)="cancelClickHandler()">CANCEL! {{label}}</button>
    </ng-template>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>24 TIMEPICKER</mat-label>
        <input matTimepicker [okButtonTemplate]="myOkButton" [cancelButtonTemplate]="myCancelButton" #t9="matTimepicker"
          #time9="ngModel" [minDate]="minValue" [maxDate]="maxValue" id="timepicker-example-1" mode="24h" ngModel
          placeholder="Please select time..." name="time-1" required>
        <mat-icon matSuffix (click)="t9.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="time9.touched && time9.invalid">Invalid Date</mat-error>
      </mat-form-field>
    </div>
  </fieldset>
  <div>Template Form Value: {{f.value | json}}</div>
</form>
<h1>Reactive Form</h1>
<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Time</mat-label>
    <input formControlName="time" matTimepicker [minDate]="minValue" [maxDate]="maxValue" [strict]="false">
  </mat-form-field>
  <div>Reactive Form Value: {{form.value | json}}</div>
  {{form.get('time').errors | json}}
  <button (click)="changeMaxValue()">Change Max Value</button>
</form>