<div>
  <label for="">No form field, no min/max (24h)</label>
  <br />
  <mat-timepicker id="timepicker-example-1" mode="24h"></mat-timepicker>
</div>
<br />
<br />
<br />
<mat-timepicker id="timepicker-example-2" [min]="minValue" [max]="maxValue" mode="24h"
  placeholder="Time 24h with min, max and icon" withFormField="true" [withIcon]="true">
</mat-timepicker>
<mat-timepicker id="timepicker-example-3" [min]="minValue" [max]="maxValue" mode="12h"
  placeholder="Time 12h with min & max" withFormField="true">
</mat-timepicker>